.button{
    border-radius: 4px;
    border: none;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;  

    color: var(--secondary-color);
    background: var(--text-accent);

    transition: background-color var(--animation);

    &:hover,
    &:focus{
        background-color: #188CE8;
        color: var(--secondary-color);
    }
}

.hero__button{
    @extend .button;
    padding: 10px 32px;
 }

.form-field__button{
    @extend .button;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 28px;
    margin-left: 12px;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 }    

 .modal__button{
    @extend .button;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
    top: 8px;
    right: 8px;

    background: var(--secondary-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;  
}

.modal__icon{
    fill: #000000;

    transition: var(--animation);

    &:hover{
        fill: var(--text-accent)
        }
    }

.modal-form__button {
    @extend .button;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    padding: 10px 52px;
 
        &:hover{
            background-color: #188CE8;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
        }
    }


    







