.company{
    @extend .section;
}

.company__title{
    @media screen and (max-width: 1199px) {
        margin-bottom: 50px;
        text-align: center;
    
        font-weight: 700;
        font-size: 28px;
        line-height: 1.18; 
    
        color: var(--title-text-color);
        }
    
        @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        text-align: center;

        font-weight: 700;
        font-size: 36px;
        line-height: 1.17; 

        color: var(--title-text-color);
        }
}

.company__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
}

.company__item {
        width: calc((100% - 1 * 30px) / 2);
    

    @media screen and (min-width: 786px) {
        width: calc((100% - 2 * 30px) / 3);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 5 * 30px) / 6);
    }
}

.company__link{
    @media screen and (min-width: 480px){
        display: flex;
        padding: 16px 52px;

        border-radius: 4px;
        border: 1px solid #AFB1B8;
       
        color: #AFB1B8;
    
        transition: color var(), border var(--animation);
    }

    @media screen and (min-width: 768px){
        padding: 16px 60px;
    }

    @media screen and (min-width: 1200px){
        padding: 16px 32px;
    }
}
.company__icon{
    fill: currentColor;
}

.company__link{
    display: flex;
    fill: #AFB1B8;

    &:hover,
    &:focus{
        border: 1px solid var(--text-accent);
        color: var(--text-accent);
    }
}

  