.desc{
    @extend %section;
}

.desc__list{
    display: flex;
    gap: 30px;
}
             
.desc__item{
   flex-basis: calc((100% - 90px) / 4);
}

.desc__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    border-radius: 4px; 
    margin-bottom: 30px;
    padding: 25px 100px;

    background: #F5F4FA;
}
  
 .desc__icon{
    align-items: center;

    fill: var(--title-text-color);
}

.desc__title{
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.desc__text{
    font-size: 14px;
    line-height: 1.71;

    color: var(--primary-text-color);
}
