.desc{
    @extend .section;
}

.desc__list{
    // display: block;
  
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        // gap: 30px;
        margin: -15px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        // gap: 30px;
    }
  
}
             
.desc__item{
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        margin: 15px;
        flex-basis: calc((100% - 2 * 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 4 * 30px) / 4);
    }

    &:not(:last-child){
        @media screen and (max-width: 767px) {
        margin-bottom: 30px;
        }
    }
 
}

.desc__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 120px;
    border-radius: 4px; 
    margin-bottom: 30px;
    padding: 25px 192px;

    background: #F5F4FA;
 }


    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 270px;
    // height: 120px;
    // border-radius: 4px; 
    // margin-bottom: 30px;
    // padding: 25px 100px;

    // background: #F5F4FA;
 
  
 .desc__icon{
    align-items: center;

    fill: var(--title-text-color);
 }

.desc__title{
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
 }

.desc__text{
    width: 450px;
    font-size: 14px;
    line-height: 1.71;

    color: var(--primary-text-color);
}
