.footer-address {
    display: block;
}

.footer-address__desc{
    display: block;
    margin-top: 28px;
    text-align: center;

    @media screen and (min-width: 1200px){
    text-align: left;
    };  
}

.footer-address__text{
    margin-bottom: 12px;

    font-size: 14px;
    font-style: normal;
    line-height: 1.71; 

    color: var(--secondary-color);
}

.footer-address__list{
    display: block; 
}

.footer-address__item{
    margin-top: 12px;

    &:not(:last-child){
        margin-bottom: 12px;
    }
}

.footer-address__link{ 
    text-decoration: none;
    font-style: normal;

    color: rgba(255, 255, 255, 0.6);

    transition: color var(--animation);

    &:hover,
    &:focus{
        color: var(--text-accent);
    }
}

   