.footer{
    padding-top: 60px;
    padding-bottom: 60px;
  
    background: #2F303A;
}

.footer__container{
    @media screen and (min-width: 480px){
    display: block;
    text-align: center;
  
   
    }

    @media screen and (min-width: 768px){
    display: block;
    width: 768px;
}

@media screen and (min-width: 1200px){
    display: flex;
    width: 1200px;
}
}
