.footer-logo__link {
    margin-right: 0;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none; 
    
    color: var(--text-accent);    
}

.footer__logo{
    margin-bottom: 20px;
   
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    color: var(--secondary-color);
}

