.footer{
    padding-top: 60px;
    padding-bottom: 60px;
  
    background: #2F303A;
}

.footer__container{
    @media screen and (min-width: 480px){
    display: block;
    // width: 480px;
    // margin: 0 auto;
    }

    @media screen and (min-width: 768px){
    display: block;
}

@media screen and (min-width: 1200px){
    display: flex;
}
}
