.form {
    @media screen and (min-width: 480px){
    width: 450px;
    margin-top: 60px;
}
    
    @media screen and (min-width: 1200px){
        display: inline-block;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-left: auto;
    }
}

.form__title{
    @media screen and (max-width: 1199px){
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;

    text-transform: uppercase;
    color: var(--secondary-color); 
}
    @media screen and (min-width: 1200px){
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    padding-top: 12px;

    text-transform: uppercase;
    color: var(--secondary-color); 

    }
}

.form-field{
   
    
        display: block;
       
    

    @media screen and (min-width: 1200px){
        display: flex;
        align-items: center;
        gap:10px
    }
}
    

.form-field__input {
        display: block;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px; 
        padding-left: 16px;
        margin-bottom: 20px;

        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        outline: 1px solid transparent;
        outline-offset: -1px;

        background: transparent;

        transition: outline-color var(--animation), border var(--animation);

    @media screen and (min-width: 1200px){
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px; 
    padding-left: 16px; 
    margin-bottom: 0;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;

    background: transparent;

    transition: outline-color var(--animation), border var(--animation);

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
    }

    &:hover,
    &:focus {
        border: 1px solid var(--text-accent);
        outline-color: var(--text-accent);
    }
}
}

.form-field__icon {
    fill: #FFFFFF;
}

