.header{
    position: relative;
    border-bottom: 1px solid #ECECEC;
}

.header__container{
   
    @media screen and (min-width: 768px){
        display: flex;
    }
    
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;   
    }
    
}
