.nav{

    display: flex;
    align-items: center;
}

.nav__list{
   display: none;

    @media screen and (min-width: 768px){
    display: flex; 
    gap: 50px; 
}
} 

.nav__item{
    position: relative;
}

.nav__link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--title-text-color);

    transition: color var(--animation);

    &:hover,
    &:focus{
        color: var(--text-accent);
    }

    &.current{
        color: var(--text-accent);
    }

}

.marker::after{
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
   height: 4px;
   border-radius: 2px;

   background: var(--text-accent);
}
