.nopadding{
    padding-top: 0;
}

.images {
    @extend %section;
}

.images__title{
    margin-bottom: 50px;
    text-align: center;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17; 
    
    color: var(--title-text-color);
}  

.images__list{
    display: flex;
    gap: 30px;
}
    
.images__item{
    position: relative;
 }

.images__wrap{
    position: relative;
}
        
.images__text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    background: rgba(47, 48, 58, 0.8);
    color: var(--secondary-color);
    text-transform: uppercase;
}
    