
.header__menu{
    display: inline-flex;
    padding: 0;
    margin-left: auto;
    border: none;
    background-color: transparent;

@media (min-width: 768px) {
     display: none;
}
}

.header__icon {
    padding: 11px;
}

.header__menu .icon-cross{
    display: none;
}

.header__menu.is-open .icon-cross {
    display: block;
}

.header__menu.is-open .icon-menu{
    display: none;
}

.mobile-menu__container{
    display: none;
    position: absolute;
    width: 100%;
    width: 480px;
    height: 796px;
    left: 0;
    right: 0;

    // background: #FFFFFF;

    .mobile-menu__container.is-open {
        display: block;
    }
  


}