.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 609px;
    border-radius: 4px;
    padding: 40px;
    
    background: var(--secondary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transform: translate(-50%, -50%) scale(1);

    transition: var(--animation);  

    @media screen and (min-width: 1200px){
        width: 528px;
        height: 581px;
    }

    
}