.team{
    @extend .section;
    
    background: #F5F4FA;
}

.team__title{
    margin-bottom: 50px;
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17; 

    color: var(--title-text-color);
}

.team__list {
    display: flex;
    gap: 30px;
}

.team__item{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;

    background: var(--secondary-color);
} 

.team__wrap{
    padding: 30px 0;
}

.team__title{
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    color: var(--title-text-color);
}

.team__text{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;

    color: var(--primary-text-color);
}

.team__aside{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    gap: 10px;
}

.team__link{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 12px; 

    background: #FFFFFF;
    color: #AFB1B8;

    transition: background-color var(--animation), color var(--animation);

    
    &:hover,
    &:focus{
        background: var(--text-accent); 
        color:  var(--secondary-color);
    }
}

.team__icon{
    fill: currentColor;
}