body{
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;

    background: var(--secondary-color);
    color: var(--primary-text-color);
}

img{
    display: block;
    max-width: 100%;
height: auto;
}