h1,
h2,
h3,
p,
li
{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.link{
    display: block;
    text-decoration: none;
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
}